// Variables de fuente
$font-title: 'Montserrat', sans-serif;
$font-body: 'Montserrat', sans-serif;
$font-secondary: 'Libre Baskerville', serif;

// Colores
$primary-color: #007bff;
$secondary-color: #6c757d;
$text-light: #f8f9fa;
$bg-dark: #343a40;
$main-color: #007bff; 
